<h1><%= @idea.name %></h1>

<div class="idea">
  <p><%= @idea.description %></p>
</div>

<%= link_to "Edit Idea", edit_user_idea_path(@user, @idea) %>
<%= link_to "Delete Idea", user_idea_path(@user, @idea), method: :delete %>
